#messages {
    flex-grow: 2;
}

.owner {
    background-color: rgb(45, 118, 186);
    justify-content: flex-end;
    text-align: right;
}

.other {
    background-color: green;
    text-align: left;
}