#messenger-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

#wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding: 6rem 2rem;
}